<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title ng-bind="pageTitle">番组日程表</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="node_modules/normalize.css/normalize.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/app.css">

</head>

<body ng-app="bangumi" ng-controller="BangumiController">

  <div class="list-container">
    <div class="wrapper">
      <ul class="weekdays">
        <li ng-repeat="(weekday, animes) in animeList |selectFilter: searchFilter | groupBy: 'weekday'">
          <ul class="animes">
            <li ng-repeat="anime in animes">
              <div class="anime-info" ng-style="getImageStyle(anime.image)" ng-src="anime.image">
                <div class="wrapper">
                  <label ng-bind="anime.name"></label>
                  <p ng-bind="anime.description"></p>
                  <i class="fa" ng-class="getHeartClass(anime)" ng-click="toggleFavorite(anime)"></i>
                  <a class="fa fa-link" ng-href="{{anime.link}}" target="_blank"></a>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="title-container">
    <div class="wrapper">
      <ul class="weekdays">
        <li ng-repeat="(weekday, animes) in animeList |selectFilter: searchFilter | groupBy: 'weekday'">
          <div class="weekday-title" ng-class="getWeekdayClass(weekday)">
            <div class="wrapper">
              <label ng-bind="weekday | weekday"></label>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="filter-container">
    <div class="wrapper">
      <ul class="left-list">
        <li>@XYKbear</li>
        <li class="cookie-info">
          <span>Cookie使用声明</span>
          <div class="cookie-text">
            本页面使用Cookie用于保存使用者关注的动画番组信息，且不存储、收集或使用任何其他数据。
          </div>
        </li>
        <li ng-bind="lastUpdate"></li>
      </ul>
      <ul class="right-list">
        <li>
          <input type="checkbox" id="filterFavorite" ng-model="searchFilter.isFavorite">
          <label for="filterFavorite">仅显示已关注</label>
        </li>
        <li>
          <input type="checkbox" id="filterOnAir" ng-model="searchFilter.onAir">
          <label for="filterOnAir">仅显示播送中</label>
        </li>
      </ul>
    </div>
  </div>

  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-cookies/angular-cookies.min.js"></script>
  <script src="node_modules/angular-filter/dist/angular-filter.min.js"></script>
  <script src="assets/app.js"></script>
</body>

</html>