<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title ng-bind="pageTitle">Bangumi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="node_modules/normalize.css/normalize.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/app.css">

</head>

<body ng-app="bangumi" ng-controller="BangumiController">

  <div class="list-container">
    <div class="wrapper">
      <ul class="weekdays">
        <li ng-repeat="(weekday, animes) in animeList | groupBy: 'weekday'">
          <div class="weekday-title" ng-class="getWeekdayClass(weekday)">
            <div class="wrapper">
              <label ng-bind="weekday | weekday"></label>
            </div>
          </div>
          <ul class="animes">
            <li ng-repeat="anime in animes">
              <div class="anime-info" ng-style="getImageStyle(anime.image)" ng-src="anime.image">
                <div class="wrapper">
                  <label ng-bind="anime.name"></label>
                  <p ng-bind="anime.description"></p>
                  <i class="fa" ng-class="getHeartClass(anime)" ng-click="toggleFavorite(anime)"></i>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-cookies/angular-cookies.min.js"></script>
  <script src="node_modules/angular-filter/dist/angular-filter.min.js"></script>
  <script src="assets/app.js"></script>
</body>

</html>