body {
  line-height: 1em;
  background-color: #333;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.wrapper {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.color-0 {
  background-color: #F24E4E;
}

.color-1 {
  background-color: #F78145;
}

.color-2 {
  background-color: #F2C94E;
}

.color-3 {
  background-color: #A0B046;
}

.color-4 {
  background-color: #4DBCE9;
}

.color-5 {
  background-color: #1693A5;
}

.color-6 {
  background-color: #A27FCD;
}

.weekdays {
  display: flex;
  align-items: stretch;
}

.weekdays li {
  flex: 1;
}

.weekday-title {
  color: white;
  padding: 1.5em 0;
  overflow: hidden;
  position: fixed;
  width: calc(100% / 7);
  z-index: 999;
}

.weekday-title label {
  line-height: 1em;
  margin-left: 1em;
  text-shadow: 0 0 2px #000;
}

.weekday-title label:after {
  color: rgba(255, 255, 255, 0.2);
  text-shadow: none;
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  right: -5px;
  top: 15px;
}

.weekday-title.color-0 label:after {
  content: "日";
}

.weekday-title.color-1 label:after {
  content: "月";
}

.weekday-title.color-2 label:after {
  content: "火";
}

.weekday-title.color-3 label:after {
  content: "水";
}

.weekday-title.color-4 label:after {
  content: "木";
}

.weekday-title.color-5 label:after {
  content: "金";
}

.weekday-title.color-6 label:after {
  content: "土";
}

.animes {
  margin-top: 4em;
}

.anime-info {
  height: 10em;
  overflow: hidden;
  background-position: 50% 25%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  border: 1px solid #111;
  color: white;
  background-color: black;
  transition: height 200ms ease-out;
}

.anime-info:hover {
  height: 20em;
  transition: height 200ms ease-out;
}

.anime-info label {
  position: absolute;
  bottom: 0;
  display: block;
  padding: 1em 0.5em;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 200ms ease-out;
}

.anime-info:hover label {
  bottom: 2em;
  opacity: 0;
  transition: all 200ms ease-out;
}

.anime-info p {
  opacity: 0;
  margin: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1em;
  padding-top: 3em;
  transition: opacity 200ms ease-out;
}

.anime-info:hover p {
  opacity: 1;
  transition: opacity 200ms ease-out;
}

.anime-info .fa {
  position: absolute;
  top: 1em;
  right: 0.5em;
}

.anime-info .fa-heart {
  color: #F24E4E;
}